<div class="row">
	  <div class="col-md-3">
	  </div>
	  <div class="col-md-6">
	  <div class="row">
      <div class="col-xs-4 col-md-4">
        <a href="#" class="thumbnail">
          <img ng-src="img/barcos/portada.jpg" src="img/barcos/portada.jpg">
        </a>
      </div>
      <div class="col-xs-4 col-md-4">
        <a href="#" class="thumbnail">
          <img ng-src="img/barcos/portada2.jpg" src="img/barcos/portada2.jpg">
        </a>
      </div>
      <div class="col-xs-4 col-md-4">
        <a href="#" class="thumbnail">
          <img ng-src="img/barcos/portada3.jpg" src="img/barcos/portada3.jpg">
        </a>
      </div>
  </div>
        </div>
      <div class="col-md-3">
	  </div>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <a href="#" class="thumbnail">
          <img ng-src="img/banner-bottom.png" src="img/banner-bottom.png">
        </a>
      </div>
    </div>
   